@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{

    .organizar{
        display: grid;
        grid-template-rows: auto 1fr auto;
        min-height: 100dvh;
    }

    .selected{
       background-color: black;
       border-radius: 12px;
       color: white;
       padding: 8px;
    }

    .no-hidden{
        display: flex;
    }

    .fancy-border{
       border-radius: 30% 70% 47% 53% / 30% 44% 56% 70% ;

    }

}
